@import url(./__title/rectangle__title.css);
@import url(./__like/rectangle__like.css);
@import url(./__meta/rectangle__meta.css);
@import url(./__cardTrash/rectangle__cardTrash.css);

.rectangle {
  object-fit: contain;
  height: 361px;
  background: #ffffff;
  border-radius: 10px;
  position: relative;

}

/*тестовые данные для проверки картинок*/
.image{  
  width: 282px;
  height: 282px;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.song__like_active{
  background: url(../../images/black_like.svg) center no-repeat;
}

