@import url(./__container/popup__container.css);
@import url(./__close/popup__close.css);
@import url(./__input/popup__input.css);
@import url(./__submit/popup__submit.css);
@import url(./__title/popup__title.css);
@import url(./__caption/popupImage__caption.css);
@import url(./__bigImage/popupImage__bigImage.css);


.popup 
 { 
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 290px; 
  height: 340px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.7);
  transition: visibility 0s, opacity 0.5s linear;
  z-index: 1001;

}

@media screen and (min-width:768px)
{
.popup {
  height: 330px;
  width: 430px;
}  
}

.popupImage {
  max-width: 282px;
  max-height: 282px;
}



.overlay{
  display: none;
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  inset: 0px;
  z-index: 1000;
  background-color: #000A;
  transition: visibility 0s, opacity 0.5s linear; 
}

.overlay.overlay_visible{
  display: block;
}