@import url(./__container/popup__container.css);
@import url(./__close/popup__close.css);
@import url(./__item/popup__item.css);
@import url(./__submit/popup__submit.css);
@import url(./__title/popup__title.css);
/*@import url(./__name/popup__name.css);
@import url(./__description/popup__description.css);*/


.popup 
 { 
  display: none;
  
  /*position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; */


  position: fixed;
  /*top: 8%;
  left: 1%;*/
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 290px; 
  height: 340px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width:768px)
{
.popup {
  transform: translate(-50%, -50%);
  height: 330px;
  width: 430px;
}
  
}
