@import url(./__caption/popupImage__caption.css);

.popupImage {
  /* flex-direction: column; */
  max-width: 282px;
  max-height: 282px;
  /* background-color: transparent;
  /* left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: ease;*/
}

