@import url(./__title/rectangle__title.css);
@import url(./__like/rectangle__like.css);
@import url(./__meta/rectangle__meta.css);

.rectangle {
  object-fit: contain;
  height: 361px;
  background: #ffffff;
  border-radius: 10px;
  position: relative;
}

/*тестовые данные для проверки картинок*/
.image{  
  width: 282px;
  height: 282px;
}

.song__like_active{
  background: url(../../images/black_like.svg) center no-repeat;
}


.cardTrash{
  position: absolute;
  top: 15px;
  right: 15px;
}

.cardTrash :hover{
  opacity: 0.1;
}