.popup__item {
  width: 250px;
  height: 27px;
  padding:0;
 
  border:1px;
  border-color:  #545454;
  border-bottom-style: solid;
  margin-bottom: 29px;
}


/* .popup__item:invalid{
  border-bottom: 1px solid red;  
  color:red;
} */

@media screen and (min-width:768px)
{
.popup__item {
    width: 358px;
}
}



